<div id="accordion-group" class="accordions">
  <h2 class="title">
    <button
      type="button"
      aria-expanded="false"
      aria-controls="sect1"
      id="accordion1"
    >
      Title 1
      <span class="arrow"></span>
    </button>
  </h2>
  <div
    id="sect1"
    role="region"
    aria-labelledby="accordion1"
    class="accordion-panel"
  >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </div>
  <h2 class="title">
    <button
      type="button"
      aria-expanded="false"
      aria-controls="sect2"
      id="accordion2"
    >
      Title 2
      <span class="arrow"></span>
    </button>
  </h2>
  <div
    id="sect2"
    role="region"
    aria-labelledby="accordion2"
    class="accordion-panel"
  >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <a href="/">Lorem ipsum dolor sit amet</a>
  </div>
  <h2 class="title">
    <button
      type="button"
      aria-expanded="false"
      aria-controls="sect3"
      id="accordion3"
    >
      Title 3
      <span class="arrow"></span>
    </button>
  </h2>
  <div
    id="sect3"
    role="region"
    aria-labelledby="accordion3"
    class="accordion-panel"
  >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </div>
</div>
